<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xxqqyyy.community.modules.notice.mapper.BizNoticeScopeMapper">

    <resultMap id="ScopeMap" type="xxqqyyy.community.modules.notice.entity.BizNoticeScope">
        <id property="id" column="id"/>
        <result property="noticeId" column="notice_id"/>
        <result property="scopeType" column="scope_type"/>
        <result property="scopeRefId" column="scope_ref_id"/>
    </resultMap>

    <delete id="deleteByNoticeId">
        DELETE FROM biz_notice_scope
        WHERE notice_id = #{noticeId}
    </delete>

    <insert id="batchInsert">
        INSERT INTO biz_notice_scope (notice_id, scope_type, scope_ref_id)
        VALUES
        <foreach collection="scopes" item="scope" separator=",">
            (#{scope.noticeId}, #{scope.scopeType}, #{scope.scopeRefId})
        </foreach>
    </insert>

    <select id="selectByNoticeId" resultMap="ScopeMap">
        SELECT id, notice_id, scope_type, scope_ref_id
        FROM biz_notice_scope
        WHERE notice_id = #{noticeId}
    </select>

</mapper>

