<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xxqqyyy.community.modules.activity.mapper.BizActivityScopeMapper">

    <resultMap id="ScopeMap" type="xxqqyyy.community.modules.activity.entity.BizActivityScope">
        <id property="id" column="id"/>
        <result property="activityId" column="activity_id"/>
        <result property="scopeType" column="scope_type"/>
        <result property="scopeRefId" column="scope_ref_id"/>
    </resultMap>

    <delete id="deleteByActivityId">
        DELETE FROM biz_activity_scope
        WHERE activity_id = #{activityId}
    </delete>

    <insert id="batchInsert">
        INSERT INTO biz_activity_scope (activity_id, scope_type, scope_ref_id)
        VALUES
        <foreach collection="scopes" item="scope" separator=",">
            (#{scope.activityId}, #{scope.scopeType}, #{scope.scopeRefId})
        </foreach>
    </insert>

    <select id="selectByActivityId" resultMap="ScopeMap">
        SELECT id, activity_id, scope_type, scope_ref_id
        FROM biz_activity_scope
        WHERE activity_id = #{activityId}
    </select>

</mapper>

